* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* utilities */


.d_flex {
  display: flex;
}

.flex_wrap {
  flex-wrap: wrap;
}

.w_80_margin_auto {
  margin: auto;
  width: 80%;
}

.pd_20 {
  padding: 20px;
}